# Rust
/target/
**/target/
**/*.rs.bk
Cargo.lock

# Configuration
config.toml

# Data directories
crates/m3u-proxy/data/
/data/
*.db
*.db-wal
*.db-shm

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# agentic ai
.claude
.cursor

# OS
.DS_Store
Thumbs.db

# Test files
test_*.m3u
test_*.m3u8

# Downloaded M3U files
*.m3u
*.m3u8


# frontend
frontend/node_modules
frontend/out
frontend/.env
frontend/.env.example
frontend/components.json.bak
frontend/*.har
frontend/.next/analyze/
frontend/**/public/sw.js
frontend/**/public/workbox-*.js
frontend/**/public/worker-*.js
frontend/**/public/sw.js.map
frontend/**/public/workbox-*.js.map
frontend/**/public/worker-*.js.map
